.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300vh;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: var(--secondary-color);
    font-weight: 100;
    height: 100vh;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    height: 100vh;
    text-align: left;
    background-color: var(--secondary-background);
}